*{
    padding: 0px;
    margin: 0 auto ;
    
}
 body{
     background-color: rgb(240, 242, 245);
     margin: 0 auto;
     margin-top: 10%;
 }
 div{
     width: 400px;
     height: 250px;
     margin: 0% auto;
     border: none;
     border-radius: 7px 7px 7px 7px;
     background-color: white;
 }
 input, button{
     margin-left: 7px;
     width: 95%;
     height: 50px;
     margin-top: 15px;
     border-radius: 7px 7px 7px 7px;
 }
 input{
    font-size: 19px;
    border: 1px solid rgb(230, 229, 229);

 }
 button{
    font-size: 30px;
    background-color: rgb(0, 132, 255);
    color: white;
    cursor: pointer;
        border: none;
 }
 a{
    text-decoration: none;
    color: rgb(0, 132, 255);
    cursor: pointer;
    margin-left: 110px;
 }